.cart-container {
    max-width: 1280px; 
    margin-top: 78px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-bottom: 12rem;
}

.show-cart{
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.hide-cart {
    opacity: .1;
}

.cart{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 20px;
    background-color: #fa4a0c;
    border-radius: 5px;
}
.empty {
    padding: 20px;
    background-color: #fa4a0c;
    border-radius: 5px;
    color: #fff;    
}
.cart-full {
    display: none;
}
.cart-empty {
    display: block;
    text-align: center;
}
.cart-empty img {
    width: 500px;
    height: auto;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 16px 32px;
    width: 500px;
    background-color: #fff;
}

.cart-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-image img {
    width: auto;
    height: 150px;
}

.cart-details h2 {
    font-size: 22px;
    font-weight: 500;
}

.cart-price {
    font-size: 18px;
    font-weight: 500;
}

.cart-quantity {
    align-self: flex-start;
    color: #ed272b;    
    font-weight: bold;
    font-size: large;
    font-family: "Courgette", cursive;
}

.delete-item {
    height: 35px;
    width: auto;
    cursor: pointer;
}
.notes{
    display: flex;
    color: #fff;
}
.no-notes{
    display: none;
}

textarea {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    resize: none; 
    width: 200px;
    height: 100px;
  }
.total {
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 20px;
    font-weight: 500;
    color: #ed272b;
    padding: 16px 32px;
    width: 500px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.no-total {
    display: none;
}

.rupee-symbol{
    font-size: 16px;
}
.cart-button .reset-button {
    background-color: #fff;
    border: 2px solid  #ed272b ;
    height: 48px;
    border-radius: 5px;
    color: #ed272b;
    font-size: 14px;
    padding: 16px 32px;
    margin: 16px 8px;
}
.cart-button .goToHome {
    background-color:  #ed272b;
    padding: 16px 32px;
    height: 48px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    margin: 16px 8px;  
}
.cart-button .goToHome:hover {
    background-color: transparent;
    border: 2px solid  #ed272b;
    color: #ed272b;
}

.cart-button .proceed-payment {
    background-color:  #ed272b;
    padding: 16px 32px;
    height: 48px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    margin: 16px 8px;
}

.cart-button .proceed-payment:hover {
    background-color: transparent;
    height: 48px;
    border: 2px solid  #ed272b;
    color: #ed272b;
}

.no-button {
    display: none;
}


.checkout-modal {
    color: #fff;
    position: absolute;
    top: 70px;
    width: 80%;
    height: auto;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(-180deg,#ff8121,#ed272b);
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    animation: modalFadeIn 0.5s forwards;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }
}

.checkout-modal.hiding {
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    animation: modalFadeOut 0.5s forwards;
}

@keyframes modalFadeOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50%);
    }
}

.close-window {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 800;
    margin: 8px 16px;
    cursor: pointer;
    color: #ed272b;
    transition: opacity 0.3s ease;
}

.close-window:hover {
    opacity: 0.8;
}


.checkout-modal h1{
    font-size: 22px;
    font-weight: 500;
}

.checkout-page {
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.checkout-animation video {
    width: 320px;

}


.hide-checkout {
    display: none;
}

.address-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5rem;
    width: 500px;
    color: #fff;
    padding: 16px 32px;
    border-radius: 5px;
}

.address-details h2{
    font-size: large;
    font-weight: 500;
}

.address-details input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.address-details input:focus {
    outline: none;
    border-color: #fa4a0c;
  }

  .address-details .small-input{
    width: 45%;
  }

  .small-input-container{
    display: flex;
    justify-content: space-between;
    width: 500px;
  }

  .checkout-payment{
    width: 80%;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .checkout-payment h3{
    font-weight: 500;
  }
  .checkout-payment hr{
    width: 100%;
  }

  .checkout-payment button{
    background-color:  #fff;
    padding: 16px 32px;
    height: 48px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #ed272b;
    font-size: 14px;
    border-radius: 5px;
    margin: 16px 8px; 
  }

  .checkout-payment button:hover {
    background-color: transparent;
    height: 48px;
    border: 2px solid  #fff;
    color: #fff;
}

.invoice {
    display: flex;
    flex-direction: column;
}

.invoice-action{
    display: flex;
    flex-direction: column;
}

.invoice-action input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    width: 100%;
}
.tax-span {
    font-size: 10px;
}

/* media querry */
@media screen and (min-width: 900px) and (max-width: 1100px) {
    .address-details {
        width: auto;
    }

    .checkout-modal {
        height: auto;
    }
    .checkout-animation video {
        width: 250px;
    
    }

    .address-details{
        width: 350px;
    }
    .small-input-container{
        width: 350px;
      }
}

@media screen and (min-width: 768px) and (max-width: 899px){
    .checkout-modal{
        width: 90%;
    }
    .checkout-animation video {
        width: 200px;
    
    }

    .address-details{
        width: 300px;
    }
    .small-input-container{
        width: 300px;
      }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .cart-empty img {
        width: 300px;
        height: auto;
    }
    textarea{
        width: 150px;
        
    }
    .cart{
        margin-bottom: 15rem;
    }
    .checkout-modal{
        width: 90%;
    }
    .checkout-page{
        flex-direction: column;
    }
    .address-details{
        width: 300px;
    }
    .small-input-container{
        width: 300px;
      }
    .cart-image{
        height: 100px;
        width: 100px;
    }
    .cart-image img{
        height: 100px;
    }
    .total{
        width: 300px;
    }

    .cart-item{
        width: 300px;
    }
    .address-details {
        width: auto;
    }
    .checkout-modal {
        height: auto;
    }
    .checkout-modal input{
        font-size: 14px;
    }
 
}

@media screen and (min-width: 320px) and (max-width: 424px){

    .cart{
        margin-bottom: 3rem;
    }
    .notes{
        flex-direction: column;
    }
    .checkout-modal{
        width: 90%;
    }
    .checkout-modal input{
        font-size: 12px;
    }
    .checkout-animation video {
        width: 200px;
    
    }
    .checkout-page{
        flex-direction: column;
    }
    .address-details{
        width: 250px;
    }
    .small-input-container{
        width: 250px;
      }
    .cart-empty img {
        width: 300px;
        height: auto;
    }
    .cart-image{
        height: 80px;
        width: 80px;
    }
    .cart-details h2{
        font-size: 18px;
    }
    .cart-details span {
        font-size: 14px;
    }
    .cart-quantity {
        font-size: medium;
    }
    .cart-image img{
        height: 80px;
    }
    .total{
        width: 250px;
        padding: 4px 8px;

    }

    .cart-item{
        width: 250px;
        padding: 4px 8px;
        justify-content: center;
        gap: 6px;
    }
    .address-details {
        width: auto;
    }
    .checkout-modal {
        height: auto;
    }
    .cart {
        padding: 10px;
    }

    .cart-button .reset-button {
        padding: 4px 8px;
    }

    .cart-button .proceed-payment{
        padding: 4px 8px;
    }
}