
.faq-container {
  margin-bottom: 20px; 
}

.faqs{
  display: flex;
  flex-direction: column;
  width: 786px;
  justify-content: center;
  margin:32px auto;
}

.faq-question {
  font-weight: bold; 
  cursor: pointer; 
  background-color: #f2f4f5;
  padding: 12px 16px 12px 15px;
  border-radius: 4px;
  color: #002F34;
}

.faq-answer {
  margin-top: 10px; 
  padding-left: 10px; 
}


  .reviews {
    max-width: 1280px; 
    margin-top: 78px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .reviews-heading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  

.rating {
    padding: 8px 16px;
    height: 50px;
    width: 250px;
  }
  



  .rating-no{
    font-weight: 600;
    margin:0 16px;
    color: #ed272b;

  }
  

  .slider {
    width: 100%;
    color: #fa4a0c;
  }
  
  .write-review {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  textarea {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    resize: none; 
    width: 400px;
    height: 100px;
  }
  
  textarea:focus {
    outline: none;
    border-color: #fa4a0c;
  }

  .add-review {
    padding: 10px 20px;
    background-color: #fa4a0c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .add-review:hover {
    background-color: #ed272b;
  }
  
  .add-review:focus {
    outline: none;
  }

  /* review pics css */
  .pic-reviews {
    border-radius: 5px;
  }
  .pic-reviews h3{
    font-size: 18px;
    font-weight: 500;
  }
  .review-pics {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 8px;
  }
  .review-pics img{
    height: 150px;
    width: auto;
  }
  /* Review container styles */
  .cards-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    background-color: #fa4a0c;
    border-radius: 5px;
    position: relative; 
  }
  
  .sort-reviews {
    background-color: #ff7c18;
    border-radius: 5px;
    padding: 3px 6px;
    position: absolute; 
    top: calc(100%); 
    right: 0; 
    z-index: 999; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .remove-sort {
    display: none;
  }
  
.review-cards {
    margin-bottom: 20px;
    width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
  }
  .user-data {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 1rem;
  }
  .card-rating {
    background-color: #ffc52a;
    color: #fff;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 45%;
    position: relative;
    left: -100px;
    top: 15px;
  }
  .user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  .review-cards h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.75px;
  }
  .review-cards span{
    font-size: 14px;
    margin-top: -15px;
    color:#b3b3b3 ;
  }
  .review-cards .comment{
    font-size: 18px;
  }
 
  .review-cards hr {
    margin-top: 20px;
    border: none;
    border-top: 1px solid #ccc;
  }
  .user-info{
    display: flex;
  }
  .user-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review-cards img{
    width: auto;
    height: 50px;

  }


  /* media querry */
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .review-cards {
      width:600px;
    }
    .faqs {
      width: 550px;
    }
  }

  @media screen and (min-width: 425px) and (max-width: 767px){
    .review-cards {
      width: 300px;
    }
    .faqs {
      width: 250px;
    }
    .write-review{
      flex-direction: column;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 424px){
    .review-cards {
      width: 250px;
      padding: 10px;
    }
    .faqs {
      width: 250px;
    }
    .write-review{
      flex-direction: column;
      gap: 6px;
    }
    textarea {
      width: 200px;
      height: 50px;
    }
  }