.home {
    max-width: 1280px; 
    margin: 0 auto;
    padding: 20px;
    margin-top: 70px;
}
.poster {
    width: 85%;
    margin: 16px auto;
    padding: 16px 32px;
    height: 70vh;
    color: #fff;
    background-color: #c82125;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.poster h1{
    font-size: 68px;
    font-weight: 400;
    font-style: normal;
    font-family: "Courgette", cursive;
}
.poster-image{
    width: auto;
    height: 240px;
    border-radius: 5px;
    overflow: hidden;
}

.poster button {
    height: 48px;
    width: auto;
    padding: 16px 32px;
    margin-top: 32px;
    border: 2px solid  #f9d7da;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.poster button:hover {
    box-shadow: 0 2px 4px rgba(237, 39,43, 1); 
    background-image: linear-gradient(-180deg,#ff8121,#ed272b);
    color: #fff;
}

.poster p{
    font-size: large;
}

.home-heading h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search input[type="text"]:focus {
    outline: none;
    border-color: #fa4a0c;
  }

.search svg {
    margin-right: 10px; 
}

/* food-items css */
.food-items{
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
    border-bottom: 2px solid #ccc;

}
.items {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 40% ;
    width: 100px;
    height: 130px;
    margin: 0 ;
}

.items-img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    overflow: hidden;
}
.items-img img{
    width: 100px;
    height: 100px;
}




.items-name h1 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-align: center;

}
.view-more-div {
    text-align: center; 
    margin-top: 20px; 
  }
  .hide-div{
    display: none;
  }
  
  .view-more-button {
    background-color: #ed272b; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .view-more-button:hover {
    background-color: #c82125; 
  }
  

/* food-menu css */

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.food-menu {
    display: flex;
    flex-direction: column;
    background-color: #fff; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
}

.menu-top {
    height: 200px;
    overflow: hidden;
}
.menu-top img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.add-to-fav {
    background-color: #ff7c18;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -210px;
    left: 5px;
}
 .food-rating{
    position: relative;
    font-size: 12px;
    font-weight: 500;
    top: -190px;
    height: 15px;
    width: auto;
    border-radius: 50px;
    background-color: #fff;
    left: 250px;
    padding: 2px 4px;
    z-index:  1;
}
.menu-bottom {
    padding: 20px;
}


.food-name {
    margin: 0;
    font-size: 20px;
    color: #333; 
}


.food-price {
    margin: 10px 0;
    font-size: 16px;
    color: #666; 
}

.food-menu span {
    font-size: 14px;
    color: #888; 
    margin-right: 10px;
}

.food-menu:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .menu-buttons button {
    padding: 10px 20px;
    background-color: #ff7c18;
    margin: 0 8px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .menu-buttons button:hover{
    background-color: #ed272b;
  }

  .quantity-buttons {
    display: flex;
    align-items: center;
    position: relative;
    top: -200px;
    background-color: #ff7c18;
    width: 80px;
    border-radius: 20px;
    color: #fff;
  }
  
  .quantity-buttons button {
    padding: 5px 10px;
    background-color: #ffc529;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .quantity-buttons span {
    margin: 0 10px;
    font-size: 16px;
    color: #fff;
  }
  